PORT=4400
NODE_ENV="development"
DEFAULT_TIMEZONE="America/Argentina/Buenos_Aires"

# Base de datos
DATABASE_URL="postgresql://user:password@localhost:5432/sport_manager"

# URLs
FRONTEND_URL="http://localhost:4200"
BACKEND_URL="http://localhost:4400"
APP_PUBLIC_URL="http://localhost:4400"
WEBHOOK_URL="https://tu-ngrok-o-dominio.com/api/v1/payments/webhook"

# Auth & Criptografía
JWT_SECRET_KEY="supersecret_jwt_key_minimo_32_caracteres"
JWT_2FA_SECRET="supersecret_2fa_key_minimo_32_caracteres"
ENCRYPTION_2FA_KEY="string_de_exactamente_32_carac"

# Email (Resend)
RESEND_API_KEY="re_123456789"
RESEND_FROM_EMAIL="onboarding@resend.dev"

# Storage (Cloudinary)
CLOUDINARY_URL="cloudinary://api_key:api_secret@cloud_name"

# Mercado Pago
MERCADOPAGO_ACCESS_TOKEN="TEST-..."
MERCADOPAGO_WEBHOOK_SECRET="..."